* {
  box-sizing: border-box;
}

html {
  background-image: url("../img/carpetPattern.png");
  background-repeat: repeat;
}

body {
  font-family: Lato;
  color: white;
}

section {
  text-align: center;
  margin: 0;
  padding: 0;
}

.inner {
  margin: 0;
  padding: 0;
}

/*.mirror {
  color: rgba(255, 255, 255, 0.5);
  transform: scaleY(-1);
  transform: rotate(180deg);
  position: relative;
  top: 30px;
}*/

.bottomSide {
  position: absolute;
  bottom: 0;
  width: 50%;
  height: calc(100% / 3);
}

.leftSide {
  position: absolute;
  left: 0;
  width: 25%;
  height: 100%;
}

.topSide {
  position: absolute;
  top: 0;
  width: 50%;
  height: calc(100% / 3);
}

.rightSide {
  position: absolute;
  right: 0;
  width: 25%;
  height: 100%;
}

.leftSide .inner {
  transform: rotate(90deg);
}

.topSide .inner {
  position: relative;
  top: -1.5em;
  transform: rotate(180deg);
  height: 100%;
}

.topSide h1 {
  transform: rotate(180deg);
}

.rightSide .inner {
  transform: rotate(270deg);
}

.bottomSide .inner {
  position: relative;
  bottom: -1.5em;
}

.activeSide h1 {
  font-style: italic;
}
.container {
  position: absolute;
  top: calc(100% / 3);
  left: 25%;
	width: 50%;
  height: calc(100% / 3);
  display: flex;
}
.boxPli {
  flex: auto;
  background-image: url("../img/bois.jpg");
}

.infos {
  flex: auto;
}
