* {
  box-sizing: border-box;
}

html {
  font-family: Lato;
  color: white;
  background-image: url("../img/carpetPattern.png");
  background-repeat: repeat;
  background-color: inital;
  padding: 0;
	height: 100%;
	width: 100%;
}

body {
  padding: 0;
  margin: 0;
	height: 100%;
  width: 100%;
}

section {
  text-align: center;
  margin: 0;
  display: inline-block;
  border: 1px solid white;
}

.inner {
  border: 1px solid black;
}

.leftSide .inner {
  transform: rotate(90deg);
}
.topSide .inner {
  transform: rotate(180deg);
}
.rightSide .inner {
  transform: rotate(270deg);
}

h1 {
  margin-bottom: 0;
}

.mirror {
  color: rgba(255, 255, 255, 0.5);
  transform: scaleY(-1);
  position: relative;
  top: 30px;
}

.bottomSide {
  position: absolute;
  bottom: 0;
  width: 50%;
  height: calc(100% / 3);
}

.leftSide {
  width: 25%;
  height: 100%;
}

.topSide {
  position: absolute;
  top: 0;
  width: 50%;
  height: calc(100% / 3);
}

.rightSide {
  position: absolute;
  right: 0;
  width: 25%;
  height: 100%;
}

.activeSide {
  font-style: italic;
}
.container {
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}
.boxPli {
  background-image: url(../img/bois.jpg);
  position: absolute;
  top: calc(100% / 3);
  left: 25%;
	width: 50%;
  height: calc(100% / 3);
}
